:root {
  --background-0: #fdfdff;
  --background-1: #efeeff;
  --background-2: #dadbff;
  --background-3: #cbc4ff;

  --foreground-0: #313131;
  --foreground-1: #242424;
  --foreground-2: #161616;
  --foreground-3: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-0: #11121d;
    --background-1: #27263d;
    --background-2: #414264;
    --background-3: #645f8b;

    --foreground-0: #ccc;
    --foreground-1: #ddd;
    --foreground-2: #eee;
    --foreground-3: #fff;
  }
}

body {
  background: var(--background-0);
  color: var(--foreground-0);
  margin: 0 auto;
  padding: 0 8px;

  max-width: 80ch;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
