:root {
  --background-0: hsl(225, 6%, 98%);
  --background-1: hsl(225, 6%, 93%);
  --background-2: hsl(225, 6%, 86%);
  --background-3: hsl(225, 6%, 75%);

  --foreground-0: hsl(0, 0%, 25%);
  --foreground-1: hsl(0, 0%, 20%);
  --foreground-2: hsl(0, 0%, 15%);
  --foreground-3: hsl(0, 0%, 5%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-0: hsl(232, 20%, 22%);
    --background-1: hsl(232, 20%, 17%);
    --background-2: hsl(232, 20%, 13%);
    --background-3: hsl(232, 20%, 9%);

    --foreground-3: hsl(0, 0%, 85%);
    --foreground-2: hsl(0, 0%, 90%);
    --foreground-1: hsl(0, 0%, 92%);
    --foreground-0: hsl(0, 0%, 95%);
  }
}

body {
  background: var(--background-1);
  color: var(--foreground-1);
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
